[Desktop Entry]
Name=Cyanide and Happiness
Comment=Cyanide and Happiness
Type=Service
X-KDE-ServiceTypes=Plasma/Comic
Icon=icon.png

X-KDE-Library=plasma_comic_krossprovider
X-KDE-PluginInfo-Author=Luca Weiss
X-KDE-PluginInfo-Email=luca@z3ntu.xyz
X-KDE-PluginInfo-Name=cyanide_and_happiness
X-KDE-PluginInfo-Version=0.4
X-KDE-PluginInfo-Website=https://z3ntu.xyz
X-KDE-PluginInfo-License=GPLv2
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PlasmaComicProvider-SuffixType=Number
